body,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-bottom: 60px;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cf202f;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1vh solid #1e419a;
    height: 10vh;
    padding: 0 2vw;
}

.logo {
    height: 100%;
    width: auto;
    max-height: 10vh;
    object-fit: contain;
    display: block;
    position: absolute;  
    top: 0;             
    left: 0; 
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2vw;
    padding-right: 4vw;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
    transition: color 0.3s;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #1e419a;
}

.content {
    padding-top: 12vh;
    padding-bottom: 60px;
    min-height: 100vh;
}

.listingTitle {
    font-family: sans-serif;
    color: #cf202f;
    text-align: center;
    margin-bottom: 1vh;
}

.listings {
    max-width: 800px;
    margin: 1vh auto;
    margin-top: 13vh;
    background: white;
    padding: 20px;
    padding-top: 1.5vh;
    border-radius: 8px;
    max-height: 73.5vh;
    box-shadow: 0px 0px 15px rgba(30, 65, 154, 0.8);
}

#createListingForm input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: sans-serif;
}

#createListingForm textarea{
    height: 80px;  
    resize: none;  
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    font-family: sans-serif;
}

#createListingForm button {
    background-color: #1e419a;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 375px;
    justify-content: center;
    align-self: center;
    display: flex;
}

#createListingForm button:hover {
    background-color: #0a1e52;
}

.createPostButton{
    position: fixed;
    bottom: 70px; 
    right: 20px; 
    padding: 10px 20px;
    background-color: #1e419a;
    color: white;
    border: none;
    border-radius: 90%;
    cursor: pointer;
    font-size: x-large;
}

.createPostButton:hover {
    animation: pulse 1.1s infinite ease-in-out;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}

footer {
    background-color: #cf202f;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    height: 3vh;
    flex-shrink: 0;
    width: 100%;
    border-top: 0.5vh solid #1e419a;
}

.imageContainer {
    padding-top: 14vh;
    display: flex;
    justify-content: flex-end;
    gap: 3vh;
}

.post-grid {
    display: grid;
    padding-left: 40vh;
    padding-top: 14vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vh;
}

.post {
    background-color: #e8e8e8;
    border-radius: 3vh;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageHome {
    width: 25vh;
    height: 25vh; 
    border-radius: 3vh;
    object-fit: cover; 
    margin-bottom: 1vh;
    margin-top: 4vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.imageTitle {
    text-align: center;
    color: black;
    text-decoration: none;  
}

.imageTitle:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;  
}

a:hover {
    text-decoration: none; 
    color: inherit;
}

.modal-open {
    overflow: hidden;
}

.modal-backdrop {
    backdrop-filter: blur(10px);
    background-color: rgba(55, 55, 55, 0.6); 
    -webkit-backdrop-filter: blur(10px);
}

.modal-dialog {
    max-width: 800px;  
    margin: 30px auto; 
}

.modal-content {
    margin-top: 12vh;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;  
    justify-content: center;
    min-height: 100vh; 
}


.modal-image {
    width: 50vh; 
    height: 50vh; 
    object-fit: cover; 
    border-radius: 3vh; 
    margin-bottom: 3vh;  
    display: block; /* Ensures the image is a block-level element */
    margin-left: auto;
    margin-right: auto;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    flex-grow: 1;
    text-align: center; 
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

.modal-body p {
    font-size: 1rem;
    color: #333; 
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center; 
    padding: 1vh 2vh;
    border-top: 1vh solid #e9ecef;
}

.btn-secondary {
    background-color: #1e419a;
    border: none;
    color: white;
}
