body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-bottom: 60px; 
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cf202f; 
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 10px solid #1e419a;
}

.logo {
    width: 125px; 
    height: auto;
    display: block;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding-right: 10px;
}

.navbar-links li a {
    color: #fff; 
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #1e419a; 
}

.content {
    padding-top: 70px; 
    padding-bottom: 60px; 
    min-height: 100vh;
}

.listingTitle {
    font-family: sans-serif;
    color: #cf202f;
    margin-top: 150px;
    text-align: center;
}

form {
    max-width: 800px;
    margin: 5px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-height: 500px;
    box-shadow: 0px 0px 15px rgba(30, 65, 154, 0.8);
}

form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: sans-serif;
}

form textarea{
    height: 80px;  
    resize: none;  
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    font-family: sans-serif;
}

form button {
    background-color: #1e419a;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 375px;
    justify-content: center;
    align-self: center;
    display: flex;
}

form button:hover {
    background-color: #0a1e52;
}

footer {
    background-color: #cf202f;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom:0;
    height: 10px;
    flex-shrink: 0;
    width: 100%;
    border-top: 5px solid #1e419a;
  }

