<!DOCTYPE html>
<html>

<head>
    <title>Edit Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
<body>
    {% include "posts/navbar.html" %}

    <div class="profile-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <h3>Profile Menu</h3>
            <ul>
                <li><a href="{% url 'accounts:profile' %}">Overview</a></li>
                <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                <li><a href="{% url 'accounts:settings' %}">Settings</a></li>
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
        </div>

        <div class="container-mx-auto-p-6">
            <h2 class="text-2xl font-bold mb-4">Edit Profile</h2>
            <form method="POST" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}

                <div>
                    <label class="block text-sm font-medium">Profile Picture</label>
                    {{ form.profile_image }}
                </div>
        
                <div>
                    <label class="block text-sm font-medium">First Name</label>
                    {{ form.first_name }}
                </div>
        
                <div>
                    <label class="block text-sm font-medium">Last Name</label>
                    {{ form.last_name }}
                </div>
        
                <div>
                    <label class="email">Email</label>
                    {{ form.email }}
                </div>
        
                <div>
                    <label class="bio">Bio</label>
                    {{ form.bio }}
                </div>
        
                <div class="year-container">
                    <label class="year">Year in School</label>
                    {{ form.year_in_school }}
                </div>
        
                <div class= "major-box">
                    <label class="block text-sm font-medium">College Major</label>
                    {{ form.major }}
                </div>
        
                <button type="submit" class="bg-blue-500 text-white p-2 rounded-md">
                    Save Changes
                </button>
            </form>
        </div>
    {% include "posts/footer.html" %}
</body>

</html>