<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>

<body>
    {% include "posts/navbar.html" %}

    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'accounts:register' %}">Don't have an account? Register here.</a>
    </div>

    {% include "posts/footer.html" %}
</body>

</html>
