{% include "posts/navbar.html" %}
{% load webpush_notifications %} 
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Payout Status</title>
</head>
<body>
    <h1>Payout Status</h1>
    <table border="1">
        <tr>
            <th>Transaction ID</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        {% for payout in payouts %}
            <tr>
                <td>{{ payout.payout_id }}</td>
                <td>{{ payout.email }}</td>
                <td>{{ payout.amount }}</td>
                <td>{{ payout.status }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
