.container {
    width: 30vw;
    max-width: 400px;
    min-width: 280px;
    min-height: 68vh;
    margin: 13vh  auto 1vh auto;
    padding: 2vw;
    background: white;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(30, 65, 154, 0.8);
    position: relative;
}

.containerLogin{
    width: 30vw;
    max-width: 400px;
    min-width: 280px;
    min-height: 70vh;
    margin: 13vh  auto 1vh auto;
    padding: 2vw;
    background: white;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(30, 65, 154, 0.8);
    position: relative;
}

h2 {
    text-align: center;
    color: #cf202f;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 750;
    padding-top: 1vh;
}

form button {
    padding: 10px;
    background-color: #cf202f; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

form button:hover {
    background-color: #a21a2f; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center; 
}

form input {
    padding: 10px;
    width: 100%; 
    max-width: 300px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

a {
    color: #1e419a;
    text-decoration: none;
    text-align: center;
    display: block;  
    width: 100%;  
    text-align: center; 
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 4px;
}

.form-group input {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
    background-color: #f8d7da;
    padding: 5px;
    border-radius: 5px;
    display: block;
    max-width: 400px;
    width: 100%;
}

.messages {
    list-style: none;
    padding: 10px;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}