<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'posts/images/snake.png' %}">
    <title>MocketPlace</title>
</head> 
<body> 
  <header> 
        <div>
            <a href="/">
                <img src="{% static 'posts/images/logo.jpg' %}" alt="Logo" class="logo">
            </a>
        </div>
        {% if request.path == '/' %}
            <div class="searchNav">
                <form method="GET" action="{% url 'home' %}" >
                    <input class="searchBar" type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q|default:'' }}">
                </form>
            </div>
        {% endif %}
        <nav>
            <ul class="navbar-links">
                {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:profile' %}" class="navbar-button">
                    Welcome, {{ user.first_name }} {{ user.last_name }}!
                    </a></li>

                <li><a href="{% url 'accounts:logout' %}" class="navbar-button">LOGOUT</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">LOGIN</a></li>
                <li><a href="{% url 'accounts:register' %}">REGISTER</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</body>

</html>