{% load static %}
<html> 
<head> 
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
</head> 
<body> 
    <header> 
        <div>
            <a href="/">  
                <img src="{% static 'posts/images/logo.jpg' %}" alt="Logo" class="logo">
            </a>
        </div>
        <nav>
            <ul class="navbar-links">
                <li>
                    <a href="{% url 'notifications:notifications_list' %}">
                        Notifications
                        {% if unread_notifications_count > 0 %}
                            <span class="notification-badge">{{ unread_notifications_count }}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>